:host {
  text-align: center;
}

table {
  text-align: center !important;
  width: 80%;
  margin: 0 auto;
}

.mat-header-cell {
  text-align: center;
}

button {
  display: block;
  margin: 20px auto;
}