<h1>Let's Play Cricket</h1>
<p>
  <strong>{{ teams[0] }}</strong> vs. <strong>{{ teams[1] }}</strong>
</p>
<p>
  <strong>{{ battingTeam }}</strong> has won the toss and elected to bat first
</p>
<p>Total Run: <strong>{{ totalRun }}</strong></p>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <ng-container matColumnDef="over">
    <th mat-header-cell *matHeaderCellDef> Over </th>
    <td mat-cell *matCellDef="let element"> {{element.over}} </td>
  </ng-container>
  <ng-container matColumnDef="run">
    <th mat-header-cell *matHeaderCellDef> Run </th>
    <td mat-cell *matCellDef="let element"> {{element.run}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>



<button mat-raised-button color="primary" (click)="score()">Play Ball</button>

