<h1>Let's Play Cricket</h1>
<mat-grid-list cols="2" rowHeight="1:1" gutterSize="30">
  <mat-grid-tile>
    <img src="../../assets/images/bangladesh.png" alt="Bangladesh flag">
  </mat-grid-tile>
  <mat-grid-tile>
    <img src="../../assets/images/india.png" alt="India flag">
  </mat-grid-tile>
  <mat-grid-tile>
    <img src="../../assets/images/australia.png" alt="Australia flag">
  </mat-grid-tile>
  <mat-grid-tile>
    <img src="../../assets/images/england.png" alt="England flag">
  </mat-grid-tile>
</mat-grid-list>
