<h1>Let's Play Cricket</h1>
<div class="flags">
  <div>
    <div (click)="onSelectCountry('Bangladesh')">
      <img src="../../assets/images/Bangladesh.png" alt="Bangladesh flag" />
    </div>
    <div (click)="onSelectCountry('India')">
      <img src="../../assets/images/India.png" alt="India flag" />
    </div>
  </div>
  <div>
    <div (click)="onSelectCountry('Australia')">
      <img src="../../assets/images/Australia.png" alt="Australia flag" />
    </div>
    <div (click)="onSelectCountry('England')">
      <img src="../../assets/images/England.png" alt="England flag" />
    </div>
  </div>
</div>
<button mat-raised-button color="primary" (click)="setTeams()">Let's Play</button>